<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <!--注册精准位置权限，否则可能Ble扫描不到设备-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
            android:name="com.bhm.support.sdk.common.BaseApplication"
            android:allowBackup="true"
            android:fullBackupContent="@xml/backup_rules"
            tools:targetApi="31"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:supportsRtl="true"
            android:theme="@style/Theme.BleCore" >
        <activity
                android:name=".ui.MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.bhm.demo.ui.OptionSettingActivity" />
        <activity android:name="com.bhm.demo.ui.DetailOperateActivity" />
    </application>

</manifest>